{% extends "base.html" %}

{% block content %}

<div class="">
    <div class="row">
        <div class="col-md-6">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" placeholder="Entrez le nom du produit que vous cherchez" name="item-name" class="form-control form-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Recherche</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-5 ">
        <div class="col-md-12 pt-10">
                <h1  class="text-dark bg-warning" >Bonjour/Bonsoir Mr/Madame {{ nom_utilisateur }} </h1>
                <h4>Nous vous remercions de votre confiance.Votre commande a été prise en compte,vous serrez livrer dans maximun 1h</h4>
                <h4>payment a la livraison, avec la somme precise</h4>
            </div>

</div>
{% endblock %}



